@import 'colors.scss';

.navbar {
  align-items: center;
  background-color: #F8CE00;
  box-shadow: 0px 5px 10px -2px $card-shadow;
  display: flex;
  height: 90px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-image {
  height: 60px;
  margin-left: 10px;
  width: 60px;
}

.nav-text {
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
