@import 'src/scss/colors';

.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 400px;
  box-shadow: 0px 5px 10px -2px $card-shadow;
  margin: 10px 0;
  background-color: $white;
  border-radius: 10px;
}

.country-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 250px;
}

.currency {
  color: $dark-blue;
  font-weight: bold;
  margin-top: 10px;
}
